<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Puzzle</title>
    <link rel="stylesheet" href="http://localhost:5000/static/styles/playPageLayout.css">
</head>
<body>
    <div class="container">
        <!-- Title Box -->
        <div class="title-box">
            <h1>Crosswords Game</h1>
        </div>

        <!-- Ensure buttons are functional -->
        <div class="button-box">
            <button id="new_game_btn">New Game</button>
            <button>Auto solve a clue</button>
            <button>Auto solve the crossword</button>
        </div>

        <!--make this contain the crossword grid -->
        <div id="crossword_grid">
        </div>

        <!--input-->
        <div class="input-box">
            <!-- adding another dropdown for selecting the clue number -->
            <select id="clueNumberSelect">
                <option value="" disabled selected>Select Clue Number</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            <input type="text" id="userInput" placeholder="Type answer here...">
        </div>

        <!--description Box for the words chosen-->
        <div class="description-box">
            <div class="clue-section">
                <h3>Across</h3>
                <div class="clue-item">1. Word</div><!--Make this change depending on chosen words-->
                <div class="clue-item">3. Word</div>
                <div class="clue-item">4. Word</div>
            </div>

            <div class="clue-section">
                <h3>Down</h3>
                <div class="clue-item">2. Word</div>
            </div>
        </div>
    </div>

    <script src="http://localhost:5000/static/js/play_new.js"></script>
</body>
</html>