<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Puzzle</title>
    <link rel="stylesheet" href="http://localhost:5000/static/styles/playPageLayout.css">
</head>
<body>
    <div class="container">
        <!-- Title Box -->
        <div class="title-box">
            <h1>Crosswords Game</h1>
        </div>

        <!-- Ensure buttons are functional -->
        <div class="button-box">
            <button id="new_game_btn">New Game</button>
            <button>Auto solve a clue</button>
            <button>Auto solve the crossword</button>
        </div>

        <div class="hud-box">
            <div id="game_state">
            </div>
        </div>

        <div class="status-box">
            <span id="statusMessage">Welcome to the Crossword Puzzle!</span>
        </div>

        <!--this is the container to render the crossword grid -->
        <div class="crossword-box">
            <div id="crossword_grid">
            </div>
        </div>

        <!--input for the guess word functionality so that player can select a clue and type a guess word and submit -->
        <div class="inputs-box">
            <!-- adding another dropdown for selecting the clue number -->
            <select id="clue_number_select">
                <option value="" disabled selected>Select Clue Number</option>
            </select>
            <input type="text" id="userInput" placeholder="Type guess word here...">
            <button id="submitGuessWordBtn">Submit guess word</button>
        </div>

        <!--here we go with the clues and render them for the player to see-->
        <div class="clues-box">
            <div id="clues_container">
            </div>
        </div>
    </div>

    <script src="http://localhost:5000/static/js/play_new.js"></script>
</body>
</html>