<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Puzzle</title>
    <link rel="stylesheet" href="http://localhost:5000/static/styles/playPageLayout.css">
</head>
<body>
    <div class="container">
        <!-- Title Box -->
        <div class="title-box">
            <h1>Crosswords Game</h1>
        </div>

        <!--
        <div class="status-message-box">
            <span id="status_message">Welcome to the Crossword Puzzle!</span>
        </div>
        -->

        <!-- Ensure buttons are functional -->
        <div class="button-box">
            <button id="new_game_btn">New Game</button>
            <button id="auto_solve_crossword_btn">Auto solve the crossword</button>
            <button id="log_out_btn">Log off</button>
        </div>

        <div class="hud-box">
            <span id="game_state_label">Game state:</span>
            <div id="game_state">
            </div>
        </div>

        <!--this is the container to render the crossword grid -->
        <div class="crossword-box">
            <div id="crossword_grid">
            </div>
        </div>

        <!--input for the guess word functionality so that player can select a clue and type a guess word and submit -->
        <div class="inputs-box">
            <!-- adding another dropdown for selecting the clue number -->
            <select id="clue_number_select">
                <option value="" disabled selected>Select Clue Number</option>
            </select>
            <input type="text" id="word_guess_user_input" placeholder="Type guess word here...">
            <button id="submit_guess_word_btn">Submit guess</button>
            <button id="submit_solve_clue_btn">Solve clue</button>
        </div>

        <!--here we go with the clues and render them for the player to see-->
        <div class="clues-box">
            <div id="clues_container">
            </div>
        </div>
    </div>

    <script src="http://localhost:5000/static/js/playpageJava.js"></script>
</body>
</html>