<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="http://localhost:5000/static/styles/registerPageLayout.css">
</head>
<body>
    <div class="register-container">
    
            
        <div class="form-group">
            <input type="email" id="register_email" placeholder="enter email" required>
        </div>
        
        <div class="form-group">
            <input type="text" id="register_name" placeholder="enter name" required>
        </div>
        
        <div class="form-group">
            <input type="password" id="register_password" placeholder="enter password" required>
        </div>
        
        <button type="submit">register</button>
        
        <div id="register_result"></div>
    
    </div>
    <script src="http://localhost:5000/static/js/registerpageJava.js"></script>
</body>
</html>