<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crossword Game</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
</head>
<body>
     <!-- Falling images container -->
     <div class="falling-images-container" id="fallingContainer"></div>

     <!-- main contain things -->
     <div class="container">
        <!-- the title box picture -->
        <div class="title-box">
           <img src="{{ url_for('static', filename='crossword_image.png') }}" alt="Crossword">
        </div>

         <!--
         <div class="welcome-text">
            <h1>Welcome to the Crossword Game!</h1>
            <p>Test your vocabulary and problem-solving skills with our exciting crossword puzzles. Ready to begin?</p>
         </div>
            -->

        <!-- Main buttons -->
        <div class="button-container">
            <button class="play" onclick="goToLogin()">Play</button>
            <button class="instructions-btn" onclick="openInstructionsPopup()">How to play</button>
        </div>
    </div>

    
    <div class="overlay" id="overlay" onclick="closeAllPopups()"></div>

    <!-- Instructions popup -->
    <div class="instructions-popup" id="instructionsPopup">
        <h2>How to play</h2>
        <p>
            Crossword is a game where you are given descriptions a.k.a. clues of words to guess. Pick a clue and guess the word correctly and fill
            the grid. If you manage to guess every word within the guess limit, you win! If you run out of guesses, you lose.
            You can auto solve a clue but you get penalty points for that.
            You can auto solve the entire puzzle but you will get penalty points for any unsolved clues and lose the game.
            Good luck!
        </p>
        <div class="instructions-close">
            <button onclick="closeAllPopups()">close</button>
        </div>
    </div>
    <script>
      const baseURL = "{{ url_for('static', filename='') }}";
      window.API_BASE_URL = "{{ api_base|e }}";
    </script>
    <script src="{{ url_for('static', filename='js/welcomepageJava.js') }}"></script>
</body>
</html>