<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crossword Game App</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <h1>Crossword Game App</h1>
    <label for="host">Host:</label>
    <input type="text" id="host" value="http://localhost:5000">
    <nav>
        <button onclick="showSection('register')">Register</button>
        <button onclick="showSection('login')">Login</button>
        <button onclick="showSection('newgame')">New Game</button>
        <button onclick="showSection('guessword')">Guess Word</button>
        <button onclick="showSection('autosolve')">Auto Solve</button>
        <button onclick="showSection('solveclue')">Solve Clue</button>
    </nav>
    <div id="content"></div>
    <script src="{{ url_for('static', filename='js/rest_api_test.js') }}"></script>
</body>
</html>

